5.4+Color+Vocab+Project/goal.png
5.4+Color+Vocab+Project/solution/solution.html
5.4+Color+Vocab+Project/solution/style.css
5.4+Color+Vocab+Project/solution/assets/images/blue.png
5.4+Color+Vocab+Project/solution/assets/images/green.png
5.4+Color+Vocab+Project/solution/assets/images/orange.png
5.4+Color+Vocab+Project/solution/assets/images/red.png
5.4+Color+Vocab+Project/solution/assets/images/yellow.png
